{{!-- 
  GURPS Instant Defaults - File Chooser Template
  Template for selecting .skl files to import skills
  
  @author Your Name
  @version 1.0.0
--}}

<div class="file-chooser-container">
  {{!-- Main file selection section --}}
  <div class="form-group">
    <label class="form-label">
      Select Skill File
    </label>
    <p class="notes">
      Choose a .skl file to import skills from. This file should contain a JSON array of skill objects.
    </p>
    {{{inputElement}}}
  </div>
  
  {{!-- Help section with requirements --}}
  <div class="help-section">
    <div class="help-header">
      File Requirements:
    </div>
    <ul class="help-list">
      <li>Must be a .skl file.</li>
      <li>Must be a valid JSON file.</li>
      <li>Must contain a 'rows' array with skill data.</li>
    </ul>
  </div>
</div>