<style>
  .coluna1 {
    width: 45%;
    display: inline-block;
    margin: 0%;
  }
  .coluna2 {
    width: 40%;
    display: inline-block;
    margin: 0%;
  }
  .coluna3 {
    width: 12%;
    display: inline-block;
    margin: 0%;
  }
</style>
<html>
  <div class="coluna1">
    <form>
      <div class="form-group">
        <label>Player</label>
        <input
          id="input"
          type="number"
          name="input"
          min="1"
          max="20"
        />
      </div>
    </form>
  </div>
  <div class="coluna2">
    <form>
      <div class="form-group">
        <label>Skill:</label>
        <input
          id="input"
          type="number"
          name="input"
          min="1"
          max="20"
        />
      </div>
    </form>
  </div>
  <div class="coluna3">

    <button  role="button" onclick="resultado()">Roll</button>



  </div>
</html>

<script></script>
