<html>
    <button class="button-28" style="margin-top: 3px;" role="button" onclick="calibre()">Result</button>
    <button class="button-28" style="margin-top: 3px;" role="button" onclick="resultado()">Result</button>
    <button class="button-28" style="margin-top: 3px;" role="button" onclick="resultado()">Result</button>
    <button class="button-28" style="margin-top: 3px;" role="button" onclick="resultado()">Result</button>



</html>
<script>





  function calibre() {
    let randomNumber = parseInt(Math.random() * 100)
console.log(randomNumber)
    if(randomNumber>= 60)   ChatMessage.create({
        content: `<h1 style="background-color: #1A1A1A; color: #fff;">Vendedor</h1> TEM BALA`,
      });
  else
  ChatMessage.create({
    content: `<h1 style="background-color: #1A1A1A; color: #fff;">Vendedor</h1>NÃO TEM BALA`,
      });




  }

  calibre()
</script>
